#table-main {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

#table-main .selected {
  background: lightslategray;
  color: white;
}

td {
  border: solid 1px rgba(0, 0, 0, 0.2);
}


